.home {
  min-height: 100vh;
  background: linear-gradient(to right, #fce4ec, #f3e5f5);
  padding: 3rem 2rem;
}

.hero {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.hero h1 {
  font-size: 3rem;
  color: #d81b60;
}

.hero p {
  font-size: 1.1rem;
  margin: 1rem 0 2rem;
  color: #444;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.primary {
  background-color: #d81b60;
  color: white;
}

.secondary {
  border: 2px solid #d81b60;
  color: #d81b60;
}

.features {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.feature-card {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  width: 220px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}
.video-container {
  display: flex;
  justify-content: center; /* center horizontally */
  margin: 0.5rem 0;
}

.video-container video {
  width: 30%;
  max-width: 800px;
  border-radius: 10px;
}

.she{
  text-align: center;
  color: #d81b60;
}